@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,700&display=swap");
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Mono", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #000;
}

.title {
  text-align: center;
  font-size: 3rem;
} */

body {
  background-color: #f8c8dc;
}

h1 {
  color: white;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.btn {
  background-color: #ffb6c1;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}
