@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  background-color: #f8c8dc;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.title {
  text-align: center;
  font-size: 7rem;
  font-weight: 700;
}

.proposalForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25rem;
}

.btn {
  background-color: #ffb6c1;
  color: white;
  padding: 1.5rem 3.2rem;
  text-align: center;
  display: inline-block;
  font-size: 1.6rem;
  margin: 0.4rem 0.2rem;
  cursor: pointer;
  border: none;
  border-radius: 1.2rem;
  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
}

.btn:hover {
  background-color: #ff69b4;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .title {
    font-size: 4rem;
  }

  .main {
    height: auto;
    padding: 2rem;
  }

  .proposalForm {
    width: 20rem;
  }

  .btn {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    margin: 0.2rem 0.1rem;
    border-radius: 0.8rem;
  }

  .btn:hover {
    transform: scale(1);
  }

  .proposalHeading {
    font-size: 3rem;
  }
}
