{% extends "base.html" %} {% block content %} {% load static %}
<main
  class="d-flex flex-column align-items-center justify-content-center text-center"
  style="margin-top: 20px"
>
  <h1>Do you want to go out with me?</h1>
  <img src="{% static 'img/proposal.webp' %}" alt="Please go out with me 🙏" />
  <form
    action=""
    method="POST"
    class="d-flex align-items-center justify-content-between w-25"
  >
    <button type="submit" name="response" value="True" class="btn btn-success">
      ❤️ Yes
    </button>
    <button type="submit" name="response" value="False" class="btn btn-danger">
      💔 No
    </button>
  </form>
</main>
{% endblock %}
