{% extends "base.html" %} {% block content %} {% load static %}
<main class="main">
  <h1 id="proposalHeading" class="title">Do you want to go out with me?</h1>
  <img src="{% static 'img/proposal.webp' %}" alt="Please go out with me 🙏" />
  <form action="" method="POST" class="proposalForm" id="proposalForm">
    {% csrf_token %}

    <input
      type="hidden"
      name="name"
      class="form-control"
      id="username"
      value=""
    />

    <button type="submit" name="response" value="True" class="btn btn-success">
      ❤️ Yes
    </button>
    <button type="submit" name="response" value="False" class="btn btn-danger">
      💔 No
    </button>
  </form>

  <script></script>
</main>

{% endblock %}
